# Ignore specific file
SecretFile.js
newSecret.js

#Ignore all files with .log extension
*.log

#Ignore all files in any directory named temp
temp/

# Ignore specific file
debug.log

# Ignore all files ending in `.tmp`
*.tmp
